**Write a Python program to add an item to a tuple**

In [2]:

def AddTuple(old, new):
    tuple_to_list = list(old)
    tuple_to_list.append(new)
    new_tuple = tuple(tuple_to_list)
    return new_tuple

old_tuple = (1, 2, 3, 4)
item_to_add = input()
new_tuple = AddTuple(old_tuple, item_to_add)
print("Old Tuple:", old_tuple)
print("New Tuple:", new_tuple)

#the code written correctly but colab ignores it :)

7

TypeError: ignored

**Write a Python program to sum all the items in a list**

In [1]:

list = [1, 2, 3, 4, 5]
print("List:", list)

list_sum = sum(list)

print("Sum of the list:", list_sum)

List: [1, 2, 3, 4, 5]
Sum of the list: 15

**Write a Python program to multiply all the items in a list.**

In [10]:
def multiply_list(items):
  result=1
  for item in items:
    result=result*item
  return result

mylist=[1,2,3,4,5]
result=multiply_list(mylist)

print ("result= ",result)

result=  120

**Write a Python program to get the smallest number from a list.**

In [12]:
def smallest(items):
  smallest=items[0]
  for item in items[1:]:
    if item < smallest:
      smallest = item
  return smallest

my_list=[1,2,3,4,5]
smallest_number = smallest(my_list)
print("The smallest number is:", smallest_number)

The smallest number is: 1

**Write a Python program to get the largest number from a list.**

In [14]:
def largest(items):
  largest=items[0]
  for item in items[1:]:
    if item > largest:
      largest = item
  return largest

my_list=[1,2,3,4,5]
largest_number = largest(my_list)
print("The smallest number is:", largest_number)

The smallest number is: 5

**Write a Python program to count the number of strings from a given list of
strings**

In [22]:
def count_string(items):
  count=0
  for item in items:
    count+=1
  return count


str_list=['kero','amit','learning','ml']
count_str = count_string(str_list)
print("Number of strings in the list:", count_str)

Number of strings in the list: 4

**Write a Python program to clone or copy a list**

In [79]:
str_list=['kero','amit','learning','ml']
cloned_list = str_list[:5]
print(cloned_list)

['kero', 'amit', 'learning', 'ml']

**. Write a Python program to remove item(s) from a given set.**

In [27]:
def remove_item(set, item):

  if item in set:
    set.remove(item)
  else:
    print(f"The item {item} is not in the set.")


set = {1, 2, 3, 4, 5}
remove_item(set, 3)
print(set)

{1, 2, 4, 5}

**Write a Python program to check if a set is a subset of another set.**

In [47]:
set1 = {1, 2, 3, 4, 5, 6}

user_input = input("Enter elements separated by commas:")
user_set = {int(item) for item in user_input.split(",")}
print("User set =", user_set)

print("original set:",set1)
if user_set.issubset(set1):
    print("the set is a subset of another set")
else:
    print("the set is not a subset of another set")

Enter elements separated by commas:1,23,34
User set = {1, 34, 23}
original set: {1, 2, 3, 4, 5, 6}
the set is not a subset of another set

**Write a Python program to remove all elements from a given set.**

In [52]:
def remove_set(set):
    set.clear()

set = {1, 2, 3, 4, 5}
print("Original set:", set)

remove_set(set)
print("Set after removing all elements:", set)

Original set: {1, 2, 3, 4, 5}
Set after removing all elements: set()

**Write a Python program to find the maximum and minimum values in a set**

In [60]:
def min_max(set):
  min_value=min(set)
  max_value=max(set)
  return min_value,max_value
set1 = {1, 2, 3, 4, 5}

min_val=min_max(set1)
max_val=min_max(set1)

print("Minimum value:", min_val)
print("maximum value:", max_val)

Minimum value: (1, 5)
maximum value: (1, 5)

**Write a Python program to find the index of an item in a tuple.**

In [72]:
def find_index(tuple,item):
  for i in range(len(tuple)):
    if tuple[i]==item:
      return i
    return -1
tuple1 = (1,2,3,4,5)
find_item = int(input("Enter the item you want to find: "))
index=find_index(tuple1,find_item)

if index != -1:
    print(f"The item {find_item} was found at index {index}.")
else:
    print(f"The item {find_item} was not found in the tuple.")

Enter the item you want to find: 1
The item 1 was found at index 0.

**Write a Python program to convert a tuple to a dictionary.**

In [74]:
def tuple_to_dict(tuple):
    result_dict = {}
    for i in range(len(tuple)):
        result_dict[tuple[i]] = i
    return result_dict

tuple1 = (1, 2, 3, 4, 5)

dict1 = tuple_to_dict(tuple1)

print(dict1)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

**Write a Python program to unzip a list of tuples into individual lists.**

**Write a Python program to reverse a tuple.**

In [78]:
def reverse_tuple(tuple):
    reversed_tuple =tuple[::-1]
    return reversed_tuple

original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)